In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics
from sklearn import preprocessing
from sklearn import model_selection

from sklearn import linear_model
from sklearn import neighbors
from sklearn import svm
from sklearn import neighbors
from sklearn import naive_bayes
from sklearn import metrics

In [2]:
data = pd.read_csv("Adult.csv",header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
np.unique(data.iloc[:,9],return_counts=True)

(array([' Female', ' Male'], dtype=object), array([10771, 21790]))

In [5]:
np.unique(data.iloc[:,[10,11]])

array([    0,   114,   155,   213,   323,   401,   419,   594,   625,
         653,   810,   880,   914,   974,   991,  1055,  1086,  1092,
        1111,  1138,  1151,  1173,  1258,  1340,  1380,  1408,  1409,
        1411,  1424,  1455,  1471,  1485,  1504,  1506,  1539,  1564,
        1573,  1579,  1590,  1594,  1602,  1617,  1628,  1639,  1648,
        1651,  1668,  1669,  1672,  1719,  1721,  1726,  1735,  1740,
        1741,  1755,  1762,  1797,  1816,  1825,  1831,  1844,  1848,
        1876,  1887,  1902,  1944,  1974,  1977,  1980,  2001,  2002,
        2009,  2036,  2042,  2050,  2051,  2057,  2062,  2080,  2105,
        2129,  2149,  2163,  2174,  2176,  2179,  2201,  2202,  2205,
        2206,  2228,  2231,  2238,  2246,  2258,  2267,  2282,  2290,
        2329,  2339,  2346,  2352,  2354,  2377,  2387,  2392,  2407,
        2414,  2415,  2444,  2457,  2463,  2467,  2472,  2489,  2538,
        2547,  2559,  2580,  2597,  2603,  2635,  2653,  2754,  2824,
        2829,  2885,  2907,  2936,  2961,  2964,  2977,  2993,  3004,
        3103,  3137,  3273,  3325,  3411,  3418,  3432,  3456,  3464,
        3471,  3674,  3683,  3770,  3781,  3818,  3887,  3900,  3908,
        3942,  4064,  4101,  4356,  4386,  4416,  4508,  4650,  4687,
        4787,  4865,  4931,  4934,  5013,  5060,  5178,  5455,  5556,
        5721,  6097,  6360,  6418,  6497,  6514,  6723,  6767,  6849,
        7298,  7430,  7443,  7688,  7896,  7978,  8614,  9386,  9562,
       10520, 10566, 10605, 11678, 13550, 14084, 14344, 15020, 15024,
       15831, 18481, 20051, 22040, 25124, 25236, 27828, 34095, 41310,
       99999])

## Substituindo valores 0 pela mÃ©dia entre os valores das colunas 10 e 11

In [6]:
data_M = data.iloc[:]
Imp = preprocessing.Imputer(missing_values=0,axis=0,strategy='mean')
Imp.fit(data.iloc[:,[10,11]])
data_M.loc[:,[10,11]] = Imp.transform(data.iloc[:,[10,11]])

data_M.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.000000,1871.428571,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,12938.541298,1871.428571,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,12938.541298,1871.428571,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,12938.541298,1871.428571,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,12938.541298,1871.428571,40,Cuba,<=50K

In [7]:
for i in [1,3,5,6,7,8,9,13,14]:
    Enc =  preprocessing.LabelEncoder()
    data_M.iloc[:,i] = Enc.fit_transform(data_M.iloc[:,i])
    


ohe = preprocessing.OneHotEncoder(categorical_features=[1,3,5,6,7,8,9,13])
data_Moral = ohe.fit_transform(data_M).toarray()
X = data_Moral[:,:108]
y = data_Moral[:,108]

## Na matriz mostrada abaixo Ã© informado os valores antes de usar o OneHotEnconder, gerando uma tabela de 100 colunas.

In [11]:
data_M

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,7,77516,9,13,4,1,1,4,1,2174.000000,1871.428571,40,39,0
1,50,6,83311,9,13,2,4,0,4,1,12938.541298,1871.428571,13,39,0
2,38,4,215646,11,9,0,6,1,4,1,12938.541298,1871.428571,40,39,0
3,53,4,234721,1,7,2,6,0,2,1,12938.541298,1871.428571,40,39,0
4,28,4,338409,9,13,2,10,5,2,0,12938.541298,1871.428571,40,5,0
5,37,4,284582,12,14,2,4,5,4,0,12938.541298,1871.428571,40,39,0
6,49,4,160187,6,5,3,8,1,2,0,12938.541298,1871.428571,16,23,0
7,52,6,209642,11,9,2,4,0,4,1,12938.541298,1871.428571,45,39,1
8,31,4,45781,12,14,4,10,1,4,0,14084.000000,1871.428571,50,39,1
9,42,4,159449,9,13,2,4,0,4,1,5178.000000,1871.428571,40,39,1
10,37,4,280464,15,10,2,4,0,2,1,12938.541298,1871.428571,80,39,1
11,30,7,141297,9,13,2,10,0,1,1,12938.541298,1871.428571,40,19,1
12,23,4,122272,9,13,4,1,3,4,0,12938.541298,1871.428571,30,39,0
13,32,4,205019,7,12,4,12,1,2,1,12938.541298,1871.428571,50,39,0
14,40,4,121772,8,11,2,3,0,1,1,12938.541298,1871.428571,40,0,1
15,34,4,245487,5,4,2,14,0,0,1,12938.541298,1871.428571,45,26,0
16,25,6,176756,11,9,4,5,3,4,1,12938.541298,1871.428571,35,39,0
17,32,4,186824,11,9,4,7,4,4,1,12938.541298,1871.428571,40,39,0
18,38,4,28887,1,7,2,12,0,4,1,12938.541298,1871.428571,50,39,0
19,43,6,292175,12,14,0,4,4,4,0,12938.541298,1871.428571,45,39,1
20,40,4,193524,10,16,2,10,0,4,1,12938.541298,1871.428571,60,39,1
21,54,4,302146,11,9,5,8,4,2,0,12938.541298,1871.428571,20,39,0
22,35,1,76845,6,5,2,5,0,2,1,12938.541298,1871.428571,40,39,0
23,43,4,117037,1,7,2,14,0,4,1,12938.541298,2042.000000,40,39,0
24,59,4,109015,11,9,0,13,4,4,0,12938.541298,1871.428571,40,39,0
25,56,2,216851,9,13,2,13,0,4,1,12938.541298,1871.428571,40,39,1
26,19,4,168294,11,9,4,3,3,4,1,12938.541298,1871.428571,40,39,0
27,54,0,180211,15,10,2,0,0,1,1,12938.541298,1871.428571,60,35,1
28,39,4,367260,11,9,0,4,1,4,1,12938.541298,1871.428571,80,39,0
29,49,4,193366,11,9,2,3,0,4,1,12938.541298,1871.428571,40,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,0,33811,9,13,4,0,1,1,0,12938.541298,1871.428571,99,39,0
32532,34,4,204461,10,16,2,10,0,4,1,12938.541298,1871.428571,60,39,1
32533,54,4,337992,9,13,2,4,0,1,1,12938.541298,1871.428571,50,24,1
32534,37,4,179137,15,10,0,1,4,4,0,12938.541298,1871.428571,39,39,0
32535,22,4,325033,2,8,4,11,3,2,1,12938.541298,1871.428571,35,39,0
32536,34,4,160216,9,13,4,4,1,4,0,12938.541298,1871.428571,55,39,1
32537,30,4,345898,11,9,4,3,1,2,1,12938.541298,1871.428571,46,39,0
32538,38,4,139180,9,13,0,10,4,2,0,15020.000000,1871.428571,45,39,1
32539,71,0,287372,10,16,2,0,0,4,1,12938.541298,1871.428571,10,39,1
32540,45,7,252208,11,9,5,1,3,4,0,12938.541298,1871.428571,40,39,0
32541,41,0,202822,11,9,5,0,1,2,0,12938.541298,1871.428571,32,39,0
32542,72,0,129912,11,9,2,0,0,4,1,12938.541298,1871.428571,25,39,0
32543,45,2,119199,7,12,0,10,4,4,0,12938.541298,1871.428571,48,39,0
32544,31,4,199655,12,14,0,8,1,3,0,12938.541298,1871.428571,30,39,0
32545,39,2,111499,7,12,2,1,5,4,0,12938.541298,1871.428571,20,39,1
32546,37,4,198216,7,12,0,13,1,4,0,12938.541298,1871.428571,40,39,0
32547,43,4,260761,11,9,2,7,0,4,1,12938.541298,1871.428571,40,26,0
32548,65,6,99359,14,15,4,10,1,4,1,1086.000000,1871.428571,60,39,0
32549,43,7,255835,15,10,0,1,2,4,0,12938.541298,1871.428571,40,39,0
32550,43,6,27242,15,10,2,3,0,4,1,12938.541298,1871.428571,50,39,0
32551,32,4,34066,0,6,2,6,0,0,1,12938.541298,1871.428571,40,39,0
32552,43,4,84661,8,11,2,12,0,4,1,12938.541298,1871.428571,45,39,0
32553,32,4,116138,12,14,4,13,1,1,1,12938.541298,1871.428571,11,36,0
32554,53,4,321865,12,14,2,4,0,4,1,12938.541298,1871.428571,40,39,1
32555,22,4,310152,15,10,4,11,1,4,1,12938.541298,1871.428571,40,39,0
32556,27,4,257302,7,12,2,13,5,4,0,12938.541298,1871.428571,38,39,0
32557,40,4,154374,11,9,2,7,0,4,1,12938.541298,1871.428571,40,39,1
32558,58,4,151910,11,9,6,1,4,4,0,12938.541298,1871.428571,40,39,0
32559,22,4,201490,11,9,4,1,3,4,1,12938.541298,1871.428571,20,39,0
32560,52,5,287927,11,9,2,4,5,4,0,15024.000000,1871.428571,40,39,1

In [10]:

fold =  model_selection.StratifiedKFold(n_splits=5)
mediaKNN = 0
mediaSVM = 0
mediaLR = 0
mediaNB = 0

for train,test in fold.split(X,y):
    
    
    Stand = preprocessing.StandardScaler()
    Stand.fit(X[train])
    X_train = Stand.transform(X[train])
    X_test =  Stand.transform(X[test])
    
    
    modelK = neighbors.KNeighborsClassifier()
    modelSVM = svm.SVC()
    modelLR = linear_model.LogisticRegression()
    modelNB = naive_bayes.GaussianNB()
    
    
    modelK.fit(X_train,y[train])
    modelSVM.fit(X_train,y[train])
    modelLR.fit(X_train,y[train])
    modelNB.fit(X_train,y[train])
    
    
    y_predK = modelK.predict(X_test)
    y_predSVM = modelSVM.predict(X_test)
    y_predLR = modelLR.predict(X_test)
    y_predNB = modelNB.predict(X_test)
    
    
    accK = metrics.accuracy_score(y[test],y_predK)
    mediaKNN = mediaKNN + accK
    accSVM = metrics.accuracy_score(y[test],y_predSVM)
    mediaSVM =mediaSVM+ accSVM
    accLR = metrics.accuracy_score(y[test],y_predLR)
    mediaLR =mediaLR+ accLR
    accNB = metrics.accuracy_score(y[test],y_predNB)
    mediaNB =mediaNB+ accNB
    
    print("KNN",accK)
    print("SVM",accSVM)
    print("LR",accLR)
    print("NB",accNB)
    
    print()
mediaKNN = mediaKNN/5
mediaSVM = mediaSVM/5
mediaLR = mediaLR/5
mediaNB = mediaNB/5


print("Media KNN",mediaKNN)
print("Media SVM",mediaSVM)
print("Media LR",mediaLR)
print("Media NB",mediaNB)

KNN 0.8168278826961461
SVM 0.8323353293413174
LR 0.833256563795486
NB 0.4180869031168432

KNN 0.816031941031941
SVM 0.832002457002457
LR 0.8289312039312039
NB 0.4342751842751843

KNN 0.8187960687960688
SVM 0.831541769041769
LR 0.8356879606879607
NB 0.5024570024570024

KNN 0.8273955773955773
SVM 0.8373771498771498
LR 0.8450552825552825
NB 0.4811117936117936

KNN 0.8189496314496314
SVM 0.8336916461916462
LR 0.8396805896805897
NB 0.43243243243243246

Media KNN 0.8196002202738729
Media SVM 0.8333896702908679
Media LR 0.8365223201301045
Media NB 0.4536726631786513

In [13]:
X_final = preprocessing.scale(X)

ModelF = naive_bayes.GaussianNB()

ModelF.fit(X_final,y)

GaussianNB(priors=None)

## O melhor modelo foi o Naive Bayes  com acurÃ¡cia mais alta.